:root {
    --yellow: #F3DE2D;
    --yellow-activated: #c9b924;
    --blue: #1790D0;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    scroll-behavior: smooth;
    font-size: clamp(14px, 1.67vw, 22px);
    letter-spacing: 0.02rem;
    background-color: var(--blue);
    background-size: 5rem 5rem;
    background-image:
        linear-gradient(to right, #ffffff50 1px, transparent 1px),
        linear-gradient(to bottom, #ffffff50 1px, transparent 1px);
    background-attachment: fixed;
    animation: sidescroll 4s linear infinite;
}

@keyframes fly {
  0%, 67% {
    transform: translate(0rem, 0rem) rotate(0deg);
  }

  25% {
    transform: translate(100rem, -17rem) rotate(20deg);
  }

  26% {
    transform: translate(100rem, -50rem) rotate(20deg);
  }

  27% {
    transform: translate(-100rem, -50rem) rotate(-20deg);
  }

  28% {
    transform: translate(-100rem, -22rem) rotate(-20deg);
  }
}

@keyframes sidescroll {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -5rem 0;
    }
}

p {
    line-height: 1.5;
}

h1, h2 {
    font-family: "DynaPuff", sans-serif;
}

.landing {
    padding-top: 23vh;
    max-height: 48rem;
    height: 78vh;
    width: 100vw;
    text-align: center;
    color: white;
    margin: none;
}

.postlanding {
    background-color: white;
    width: 100vw;
}

.info {
    text-align: left;
    color: black;
    margin-left: auto;
    margin-right: auto;
    width: 40vw;
    min-width: 700px;
    max-width: 85vw;
    height: auto;
    padding-top: 5rem;
    padding-bottom: 8rem;
}

.logo {
    margin-left: auto;
    margin-right: auto;
    height: 35vh;
    max-height: 35rem;
}

.blue {
    color: var(--blue);
}

.yellow {
    color: var(--yellow);
}

ul {
    padding: 0;
    margin: 0;
    list-style-position: inside; 
}

.second-title {
    margin-top: 3rem;
}

.linkbutton {
    text-decoration: none;
    padding: 0.75rem;
    font-family: "DynaPuff", sans-serif;
    font-size: 1.5rem;
    border-radius: 1rem;
}

.byellow {
    display: inline-block;
    color: black;
    background-color: var(--yellow);
    transition: background-color 0.1s ease-in-out;
}

.byellow:hover {
    background-color: var(--yellow-activated);
    animation: shake 0.25s infinite;
}

.hc-logo {
    transform: rotate(0deg) translateY(-0.5rem);
    transition: transform 0.3s ease-in-out;
}

.hc-logo:hover {
    transform: rotate(10deg) translateY(0.5rem);
}

.yellow-stroke {
    color: var(--yellow);
    -webkit-text-stroke: 0.5rem black;
    paint-order: stroke fill;
    letter-spacing: 0.1rem;
}

@keyframes shake {
  0%, 50%, 100% { transform: rotate(0deg); }
  25% { transform: rotate(2deg); }
  75% { transform: rotate(-2deg); }
}

footer {
    padding: 1rem 0;
    text-align: center;
    width: 100vw;
    color: white;
    font-family: "DynaPuff", sans-serif;
}

footer a {
    color: var(--yellow);
    transition: color 0.1s ease-in-out;
}

footer a:hover {
    color: var(--yellow-activated);
}

.tagline {
    padding: 0 1rem;
}

@media screen and (max-width: 768px) { /* For screens smaller than 768px */
  .logo {
    width: 70vw !important;
  }
}
