html, body {
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-family: "DynaPuff", sans-serif;
}

.landing {
    padding-top: 20rem;
    height: 67vh;
    width: 100vw;
    text-align: center;
    background-color: #1790D0;
    color: white;
    margin: none;
}

.logo {
    margin-left: auto;
    margin-right: auto;
    width: 40rem;
    height: auto;
}