:root {
    --yellow: #F3DE2D;
    --yellow-activated: #c9b924;
    --blue: #1790D0;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    scroll-behavior: smooth;
    font-size: 18px;
    letter-spacing: 0.02rem;
}

p {
    line-height: 1.5;
}

h1, h2 {
    font-family: "DynaPuff", sans-serif;
}

.start {
    background-color: var(--blue);
}

.landing {
    padding-top: 23rem;
    height: 52rem;
    width: 100vw;
    text-align: center;
    color: white;
    margin: none;
}

.info {
    text-align: left;
    color: black;
    margin-left: auto;
    margin-right: auto;
    width: 40vw;
    height: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.logo {
    margin-left: auto;
    margin-right: auto;
    width: 40rem;
    height: auto;
}

.blue {
    color: var(--blue);
}

.yellow {
    color: var(--yellow);
}

ul {
    padding: 0;
    margin: 0;
    list-style-position: inside; 
}

.second-title {
    margin-top: 3rem;
}

.linkbutton {
    text-decoration: none;
    padding: 0.75rem;
    font-family: "DynaPuff", sans-serif;
    font-size: 1.5rem;
    border-radius: 1rem;
}

.byellow {
    color: black;
    background-color: var(--yellow);
    transition: background-color 0.3s ease-in-out;
}

.byellow:hover {
    background-color: var(--yellow-activated);
}

.hc-logo {
    transform: rotate(0deg) translateY(-0.5rem);
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
}

.hc-logo:hover {
    transform: rotate(10deg) translateY(0.5rem);
}

.yellow-stroke {
    color: var(--yellow);
    -webkit-text-stroke: 0.5rem black;
    paint-order: stroke fill;
    letter-spacing: 0.1rem;
}
