:root {
    --yellow: #F3DE2D;
    --yellow-activated: #c9b924;
    --blue: #1790D0;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    scroll-behavior: smooth;
}

h1, h2 {
    font-family: "DynaPuff", sans-serif;
}

.start {
    background-color: var(--blue);
}

.landing {
    padding-top: 20rem;
    height: 60rem;
    width: 100vw;
    text-align: center;
    color: white;
    margin: none;
}

.info {
    text-align: center;
    color: black;
    margin: none;
    width: 100vw;
    height: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.logo {
    margin-left: auto;
    margin-right: auto;
    width: 40rem;
    height: auto;
}

.blue {
    color: var(--blue);
}

.yellow {
    color: var(--yellow);
}

ul {
  display: table;
  margin: 0 auto;
  text-align: left; 
}

.second-title {
    margin-top: 3rem;
}

.linkbutton {
    text-decoration: none;
    padding: 0.75rem;
    font-family: "DynaPuff", sans-serif;
    font-size: 1.5rem;
    border-radius: 1rem;
}

.byellow {
    color: black;
    background-color: var(--yellow);
    transition: background-color 0.3s ease-in-out;
}

.byellow:hover {
    background-color: var(--yellow-activated);
}

.hc-logo {
    transform: rotate(0deg) translateY(-0.5rem);
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
}

.hc-logo:hover {
    transform: rotate(10deg) translateY(0.5rem);
}